﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="report-designer.html" name="" title="Report Designer">Report Designer</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="report-designer/first-look-at-the-report-designer.html" name="" title="First Look at the Report Designer">First Look at the Report Designer</a>
                          </li>
                          <li>
                              <a href="report-designer/add-new-reports.html" name="" title="Add New Reports">Add New Reports</a>
                          </li>
                          <li>
                              <a href="report-designer/open-reports.html" name="" title="Open Reports">Open Reports</a>
                          </li>
                          <li>
                              <a href="report-designer/save-reports.html" name="" title="Save Reports">Save Reports</a>
                          </li>
                          <li>
                              <a href="report-designer/introduction-to-banded-reports.html" name="" title="Introduction to Banded Reports">Introduction to Banded Reports</a>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a href="report-designer/bind-to-data.html" name="" title="Bind to Data">Bind to Data</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <a href="report-designer/bind-to-data/bind-a-report-to-json-data.html" name="" title="Bind a Report to JSON Data">Bind a Report to JSON Data</a>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a href="report-designer/create-reports.html" name="" title="Create Reports">Create Reports</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <a href="report-designer/create-reports/table-reports.html" name="" title="Table Reports">Table Reports</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/vertical-reports.html" name="" title="Vertical Reports">Vertical Reports</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/letters.html" name="" title="Letters">Letters</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/master-detail-reports-with-detail-report-bands.html" name="" title="Master-Detail Report with Detail Report Bands">Master-Detail Report with Detail Report Bands</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/master-detail-reports-with-subreports.html" name="" title="Master-Detail Report with Subreports">Master-Detail Report with Subreports</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/hierarchical-reports.html" name="" title="Hierarchical Report">Hierarchical Report</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/invoices.html" name="" title="Invoices">Invoices</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/cross-tab-reports.html" name="" title="Cross-Tab Reports">Cross-Tab Reports</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/labels-and-badges.html" name="" title="Labels and Badges">Labels and Badges</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/multi-column-reports.html" name="" title="Multi-Column Reports">Multi-Column Reports</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/interactive-e-forms.html" name="" title="Interactive E-Forms">Interactive E-Forms</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/reports-with-cross-band-content-and-populated-empty-space.html" name="" title="Reports with Cross-Band Content and Populated Empty Space">Reports with Cross-Band Content and Populated Empty Space</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/reports-with-pdf-content.html" name="" title="Reports with PDF Content">Reports with PDF Content</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/create-reports/reports-with-visual-pdf-signature.html" name="" title="Reports with Visual PDF Signature">Reports with Visual PDF Signature</a>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a href="report-designer/configure-design-settings.html" name="" title="Configure Design Settings">Configure Design Settings</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <a href="report-designer/configure-design-settings/change-a-report-measurement-units.html" name="" title="Change a Report's Measurement Units">Change a Report's Measurement Units</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/configure-design-settings/change-a-report-page-settings.html" name="" title="Change a Report's Page Settings">Change a Report's Page Settings</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/configure-design-settings/enable-the-right-to-left-layout.html" name="" title="Enable the Right-To-Left Layout">Enable the Right-To-Left Layout</a>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a href="report-designer/use-report-elements.html" name="" title="Use Report Elements">Use Report Elements</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/use-report-elements/manipulate-report-elements.html" name="" title="Manipulate Report Elements">Manipulate Report Elements</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/use-report-elements/manipulate-report-elements/add-controls-to-a-report.html" name="" title="Add Controls to a Report">Add Controls to a Report</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/bind-controls-to-data.html" name="" title="Bind Report Controls to Data">Bind Report Controls to Data</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-embedded-fields-mail-merge.html" name="" title="Use Embedded Fields (Mail Merge)">Use Embedded Fields (Mail Merge)</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/validate-report-data-bindings.html" name="" title="Validate Report Data Bindings">Validate Report Data Bindings</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/manipulate-report-elements/select-report-elements-and-access-their-settings.html" name="" title="Select Report Elements and Access Their Settings">Select Report Elements and Access Their Settings</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/manipulate-report-elements/move-and-resize-report-elements.html" name="" title="Move and Resize Report Elements">Move and Resize Report Elements</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/manipulate-report-elements/apply-styles-to-report-elements.html" name="" title="Apply Styles to Report Elements">Apply Styles to Report Elements</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/manipulate-report-elements/copy-report-controls.html" name="" title="Copy Report Controls">Copy Report Controls</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/manipulate-report-elements/arrange-report-controls.html" name="" title="Arrange Report Controls">Arrange Report Controls</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/manipulate-report-elements/add-report-controls-to-containers.html" name="" title="Add Report Controls to Containers">Add Report Controls to Containers</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/manipulate-report-elements/validate-the-report-layout.html" name="" title="Validate the Report Layout">Validate the Report Layout</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/use-report-elements/use-basic-report-controls.html" name="" title="Use Basic Report Controls">Use Basic Report Controls</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-basic-report-controls/label.html" name="" title="Label">Label</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-basic-report-controls/character-comb.html" name="" title="Character Comb">Character Comb</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-basic-report-controls/rich-text.html" name="" title="Rich Text">Rich Text</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-basic-report-controls/check-box.html" name="" title="Check Box">Check Box</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-basic-report-controls/picture-box.html" name="" title="Picture Box">Picture Box</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-basic-report-controls/subreport.html" name="" title="Subreport">Subreport</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-basic-report-controls/panel.html" name="" title="Panel">Panel</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-basic-report-controls/page-break.html" name="" title="Page Break">Page Break</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-basic-report-controls/table-of-contents.html" name="" title="Table of Contents">Table of Contents</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-basic-report-controls/page-info.html" name="" title="Page Info">Page Info</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-basic-report-controls/pdf-content.html" name="" title="PDF Content">PDF Content</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-basic-report-controls/pdf-signature.html" name="" title="PDF Signature">PDF Signature</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/use-report-elements/use-tables.html" name="" title="Use Tables">Use Tables</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-tables/table-overview.html" name="" title="Table Overview">Table Overview</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-tables/bind-table-cells-to-data.html" name="" title="Bind Table Cells to Data">Bind Table Cells to Data</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-tables/manage-table-structure.html" name="" title="Manage Table Structure">Manage Table Structure</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-tables/manipulate-table-elements.html" name="" title="Manipulate Table Elements">Manipulate Table Elements</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-tables/hide-table-cells.html" name="" title="Hide Table Cells">Hide Table Cells</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/use-report-elements/use-bar-codes.html" name="" title="Use Barcodes">Use Barcodes</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/add-bar-codes-to-a-report.html" name="" title="Add Barcodes to a Report">Add Barcodes to a Report</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/bar-code-recognition-specifics.html" name="" title="Barcode Recognition Specifics">Barcode Recognition Specifics</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/codabar.html" name="" title="Codabar">Codabar</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/code-11-usd-8.html" name="" title="Code 11 (USD-8)">Code 11 (USD-8)</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/code-128.html" name="" title="Code 128">Code 128</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/code-39-usd-3.html" name="" title="Code 39 (USD-3)">Code 39 (USD-3)</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/code-39-extended.html" name="" title="Code 39 Extended">Code 39 Extended</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/code-93.html" name="" title="Code 93">Code 93</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/code-93-extended.html" name="" title="Code 93 Extended">Code 93 Extended</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/deutsche-post-leitcode.html" name="" title="Deutsche Post Leitcode">Deutsche Post Leitcode</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/deutsche-post-identcode.html" name="" title="Deutsche Post Identcode">Deutsche Post Identcode</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/ean-13.html" name="" title="EAN 13">EAN 13</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/ean-8.html" name="" title="EAN 8">EAN 8</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/ecc200-data-matrix.html" name="" title="ECC200 - Data Matrix">ECC200 - Data Matrix</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/gs1-databar.html" name="" title="GS1 - DataBar">GS1 - DataBar</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/gs1-data-matrix.html" name="" title="GS1- Data Matrix">GS1- Data Matrix</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/gs1-128-ean-128-ucc.html" name="" title="GS1-128 - EAN-128 (UCC)">GS1-128 - EAN-128 (UCC)</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/industrial-2-of-5.html" name="" title="Industrial 2 of 5">Industrial 2 of 5</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/intelligent-mail.html" name="" title="Intelligent Mail">Intelligent Mail</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/intelligent-mail-package.html" name="" title="Intelligent Mail Package">Intelligent Mail Package</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/interleaved-2-of-5.html" name="" title="Interleaved 2 of 5">Interleaved 2 of 5</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/matrix-2-of-5.html" name="" title="Matrix 2 of 5">Matrix 2 of 5</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/msi-plessey.html" name="" title="MSI - Plessey">MSI - Plessey</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/pdf417.html" name="" title="PDF417">PDF417</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/pharmacode.html" name="" title="Pharmacode">Pharmacode</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/postnet.html" name="" title="PostNet">PostNet</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/qr-code.html" name="" title="QR Code">QR Code</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/upc-shipping-container-symbol-itf-14.html" name="" title="UPC Shipping Container Symbol (ITF-14)">UPC Shipping Container Symbol (ITF-14)</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/upc-supplemental-2.html" name="" title="UPC Supplemental 2">UPC Supplemental 2</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/upc-supplemental-5.html" name="" title="UPC Supplemental 5">UPC Supplemental 5</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/upc-a.html" name="" title="UPC-A">UPC-A</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/upc-e0.html" name="" title="UPC-E0">UPC-E0</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-bar-codes/upc-e1.html" name="" title="UPC-E1">UPC-E1</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/use-report-elements/use-charts-and-pivot-grids.html" name="" title="Use Charts and Pivot Grids">Use Charts and Pivot Grids</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-charts-and-pivot-grids/use-charts-in-reports.html" name="" title="Use Charts in Reports">Use Charts in Reports</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-charts-and-pivot-grids/add-a-chart-set-up-series-manually.html" name="" title="Add a Chart (Set Up Series Manually)">Add a Chart (Set Up Series Manually)</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-charts-and-pivot-grids/add-a-chart-use-a-series-template.html" name="" title="Add a Chart (Use a Series Template)">Add a Chart (Use a Series Template)</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-charts-and-pivot-grids/use-charts-to-visualize-grouped-data.html" name="" title="Use Charts to Visualize Grouped Data">Use Charts to Visualize Grouped Data</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-charts-and-pivot-grids/link-a-chart-and-a-pivot-grid.html" name="" title="Link a Chart and a Pivot Grid">Link a Chart and a Pivot Grid</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/use-report-elements/use-gauges-and-sparklines.html" name="" title="Use Gauges and Sparklines">Use Gauges and Sparklines</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-gauges-and-sparklines/add-gauges-to-a-report.html" name="" title="Add Gauges to a Report">Add Gauges to a Report</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/use-gauges-and-sparklines/add-sparklines-to-a-report.html" name="" title="Add Sparklines to a Report">Add Sparklines to a Report</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/use-report-elements/draw-lines-and-shapes.html" name="" title="Draw Lines and Shapes">Draw Lines and Shapes</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/use-report-elements/draw-lines-and-shapes/draw-lines.html" name="" title="Draw Lines">Draw Lines</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/draw-lines-and-shapes/draw-shapes.html" name="" title="Draw Shapes">Draw Shapes</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/use-report-elements/draw-lines-and-shapes/draw-cross-band-lines-and-boxes.html" name="" title="Draw Cross-Band Lines and Boxes">Draw Cross-Band Lines and Boxes</a>
                                              </li>
                                        </ul>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a href="report-designer/shape-report-data.html" name="" title="Shape Report Data">Shape Report Data</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/shape-report-data/filter-data.html" name="" title="Filter Data">Filter Data</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/shape-report-data/filter-data/filter-data-at-the-report-level.html" name="" title="Filter Data at the Report Level">Filter Data at the Report Level</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/filter-data/filter-data-at-the-data-source-level.html" name="" title="Filter Data at the Data Source Level">Filter Data at the Data Source Level</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/filter-data/limit-the-number-of-records-to-display.html" name="" title="Limit the Number of Records to Display">Limit the Number of Records to Display</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/shape-report-data/group-and-sort-data.html" name="" title="Group and Sort Data">Group and Sort Data</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/shape-report-data/group-and-sort-data/sort-data.html" name="" title="Sort Data">Sort Data</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/group-and-sort-data/group-data.html" name="" title="Group Data">Group Data</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/group-and-sort-data/sort-data-by-a-custom-field.html" name="" title="Sort Data by a Custom Field">Sort Data by a Custom Field</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/group-and-sort-data/group-data-by-a-custom-field.html" name="" title="Group Data by a Custom Field">Group Data by a Custom Field</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/group-and-sort-data/sort-groups-by-a-summary-function-result.html" name="" title="Sort Groups by a Summary Function's Result">Sort Groups by a Summary Function's Result</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="report-designer/shape-report-data/format-data.html" name="" title="Format Data">Format Data</a>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/shape-report-data/specify-conditions-for-report-elements.html" name="" title="Specify Conditions for Report Elements">Specify Conditions for Report Elements</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/shape-report-data/specify-conditions-for-report-elements/conditionally-change-a-control-appearance.html" name="" title="Conditionally Change a Control's Appearance">Conditionally Change a Control's Appearance</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/specify-conditions-for-report-elements/conditionally-change-a-label-text.html" name="" title="Conditionally Change a Label's Text">Conditionally Change a Label's Text</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/specify-conditions-for-report-elements/conditionally-change-a-bands-visibility-expression-bindings.html" name="" title="Conditionally Change a Band's Visibility">Conditionally Change a Band's Visibility</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/specify-conditions-for-report-elements/conditionally-filter-report-data.html" name="" title="Conditionally Filter Report Data">Conditionally Filter Report Data</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/specify-conditions-for-report-elements/conditionally-supress-controls.html" name="" title="Conditionally Suppress Controls">Conditionally Suppress Controls</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/specify-conditions-for-report-elements/limit-the-number-of-records-per-page.html" name="" title="Limit the Number of Records per Page">Limit the Number of Records per Page</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/shape-report-data/calculate-summaries.html" name="" title="Calculate Summaries">Calculate Summaries</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/shape-report-data/calculate-summaries/calculate-a-summary.html" name="" title="Calculate a Summary">Calculate a Summary</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/calculate-summaries/calculate-an-advanced-summary.html" name="" title="Calculate an Advanced Summary">Calculate an Advanced Summary</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/shape-report-data/count-elements-and-values.html" name="" title="Count Elements and Values">Count Elements and Values</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/shape-report-data/count-elements-and-values/display-row-numbers-in-a-report-group-or-page.html" name="" title="Display Row Numbers in a Report, Group or Page">Display Row Numbers in a Report, Group or Page</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/count-elements-and-values/count-the-number-of-records-in-a-report-or-group.html" name="" title="Count the Number of Records in a Report or Group">Count the Number of Records in a Report or Group</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/count-elements-and-values/count-the-number-of-groups-in-a-report.html" name="" title="Count the Number of Groups in a Report">Count the Number of Groups in a Report</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/shape-report-data/use-calculated-fields.html" name="" title="Use Calculated Fields">Use Calculated Fields</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/shape-report-data/use-calculated-fields/calculated-fields-overview.html" name="" title="Calculated Fields Overview">Calculated Fields Overview</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/use-calculated-fields/calculate-an-aggregate-function.html" name="" title="Calculate an Aggregate Function">Calculate an Aggregate Function</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/use-calculated-fields/calculate-a-weighted-average-function.html" name="" title="Calculate a Weighted Average Function">Calculate a Weighted Average Function</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/shape-report-data/use-report-parameters.html" name="" title="Use Report Parameters">Use Report Parameters</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/shape-report-data/use-report-parameters/create-a-report-parameter.html" name="" title="Create a Report Parameter">Create a Report Parameter</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/use-report-parameters/report-parameters-with-predefined-static-values.html" name="" title="Report Parameters with Predefined Static Values">Report Parameters with Predefined Static Values</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/use-report-parameters/report-parameters-with-predefined-dynamic-values.html" name="" title="Report Parameters with Predefined Dynamic Values">Report Parameters with Predefined Dynamic Values</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/use-report-parameters/multi-value-report-parameters.html" name="" title="Multi-Value Report Parameters">Multi-Value Report Parameters</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/use-report-parameters/cascading-report-parameters.html" name="" title="Cascading Report Parameters">Cascading Report Parameters</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/shape-report-data/use-report-parameters/date-range-report-parameters.html" name="" title="Date Range Report Parameters">Date Range Report Parameters</a>
                                              </li>
                                        </ul>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a href="report-designer/lay-out-dynamic-report-content.html" name="" title="Lay out Dynamic Report Content">Lay out Dynamic Report Content</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <a href="report-designer/lay-out-dynamic-report-content/maintain-the-band-location-on-a-page.html" name="" title="Maintain the Band Location on a Page">Maintain the Band Location on a Page</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/lay-out-dynamic-report-content/keep-content-together.html" name="" title="Keep Content Together">Keep Content Together</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/lay-out-dynamic-report-content/maintain-the-size-and-content-of-data-bound-controls.html" name="" title="Maintain the Size and Content of Data-Bound Controls">Maintain the Size and Content of Data-Bound Controls</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/lay-out-dynamic-report-content/anchor-controls.html" name="" title="Anchor Controls">Anchor Controls</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/lay-out-dynamic-report-content/suppress-controls.html" name="" title="Suppress Controls">Suppress Controls</a>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a href="report-designer/customize-appearance.html" name="" title="Customize Appearance">Customize Appearance</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <a href="report-designer/customize-appearance/appearance-properties.html" name="" title="Appearance Properties">Appearance Properties</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/customize-appearance/report-visual-styles.html" name="" title="Report Visual Styles">Report Visual Styles</a>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a href="report-designer/add-navigation.html" name="" title="Add Navigation">Add Navigation</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <a href="report-designer/add-navigation/add-page-numbers.html" name="" title="Add Page Numbers">Add Page Numbers</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/add-navigation/add-cross-references-and-hyperlinks.html" name="" title="Add Cross-References and Hyperlinks">Add Cross-References and Hyperlinks</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/add-navigation/add-bookmarks-and-a-document-map.html" name="" title="Add Bookmarks and a Document Map">Add Bookmarks and a Document Map</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/add-navigation/add-a-table-of-contents.html" name="" title="Create a Table of Contents">Create a Table of Contents</a>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a href="report-designer/provide-interactivity.html" name="" title="Provide Interactivity">Provide Interactivity</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <a href="report-designer/provide-interactivity/create-drill-down-reports.html" name="" title="Create Drill-Down Reports">Create Drill-Down Reports</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/provide-interactivity/sort-a-report-in-print-preview.html" name="" title="Sort a Report in Print Preview">Sort a Report in Print Preview</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/provide-interactivity/edit-content-in-print-preview.html" name="" title="Edit Content in Print Preview">Edit Content in Print Preview</a>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a href="report-designer/add-extra-information.html" name="" title="Add Extra Information">Add Extra Information</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <a href="report-designer/add-extra-information/add-watermarks-to-a-report.html" name="" title="Add Watermarks to a Report">Add Watermarks to a Report</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/add-extra-information/display-the-current-date-and-time-in-a-report.html" name="" title="Display the Current Date and Time in a Report">Display the Current Date and Time in a Report</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/add-extra-information/display-the-user-name-in-a-report.html" name="" title="Display the User Name in a Report">Display the User Name in a Report</a>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a href="report-designer/use-expressions.html" name="" title="Use Expressions">Use Expressions</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <a href="report-designer/use-expressions/expression-syntax.html" name="" title="Expression Syntax">Expression Syntax</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/use-expressions/data-binding-modes.html" name="" title="Data Binding Modes">Data Binding Modes</a>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <a href="report-designer/localize-reports.html" name="" title="Localize Reports">Localize Reports</a>
                          </li>
                          <li>
                              <a href="report-designer/preview-print-and-export-reports.html" name="" title="Preview, Print and Export Reports">Preview, Print and Export Reports</a>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a href="report-designer/report-designer-tools.html" name="" title="Report Designer Tools">Report Designer Tools</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <a href="report-designer/report-designer-tools/design-surface.html" name="" title="Design Surface">Design Surface</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/report-designer-tools/menu.html" name="" title="Main Menu">Main Menu</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/report-designer-tools/toolbar.html" name="" title="Main Toolbar">Main Toolbar</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/report-designer-tools/toolbox.html" name="" title="Toolbox">Toolbox</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/report-designer-tools/query-builder.html" name="" title="Query Builder">Query Builder</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/report-designer-tools/chart-designer.html" name="" title="Chart Designer">Chart Designer</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/report-designer-tools/expression-editor.html" name="" title="Expression Editor">Expression Editor</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/report-designer-tools/filter-editor.html" name="" title="Filter Editor">Filter Editor</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/report-designer-tools/format-string-editor.html" name="" title="Format String Editor">Format String Editor</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/report-designer-tools/master-detail-relation-editor.html" name="" title="Master-Detail Relation Editor">Master-Detail Relation Editor</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/report-designer-tools/script-editor.html" name="" title="Script Editor">Script Editor</a>
                                    </li>
                                    <li>
                                        <a href="report-designer/report-designer-tools/localization-editor.html" name="" title="Localization Editor">Localization Editor</a>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a href="report-designer/report-designer-tools/ui-panels.html" name="" title="UI Panels">UI Panels</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="report-designer/report-designer-tools/ui-panels/properties-panel.html" name="" title="Properties Panel">Properties Panel</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/report-designer-tools/ui-panels/expressions-panel.html" name="" title="Expressions Panel">Expressions Panel</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/report-designer-tools/ui-panels/field-list.html" name="" title="Field List">Field List</a>
                                              </li>
                                              <li>
                                                  <a href="report-designer/report-designer-tools/ui-panels/report-explorer.html" name="" title="Report Explorer">Report Explorer</a>
                                              </li>
                                        </ul>
                                    </li>
                              </ul>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>