@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model cs_printoutserver.Models.FileModel
@{
    Layout = "_LayoutFileManagement";
}


<div >
<h1 class="display-4">PrintOut File Management </h1>
    <button id="btn1" class="btn btn-outline-success m-1" onclick="GetDocumentList()">Document List</button>
    <button id="btn2" class="btn btn-outline-success m-1" onclick="DownloadJson()"><i class="fa fa-download"></i>
    </button>
</div>
<br>



    <form asp-controller="Home" asp-action="UploadDocument" enctype="multipart/form-data" method="post">
        <label for="program">Select a program:</label>
        <select name="program" id="programCode" class="form-control">
            @foreach (var program in Model.programList)
            {
                <option value="@program">@program</option>

            }
            <option value="false">No program</option>
        </select>
        <label for="file">Select document:</label>
        <input type="file" name="file" class="form-control">



        <input class="btn btn-outline-success m-1" type="submit" value="Upload Document" class="form-control" ></input>


    </form>


            <table id="documentTable" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Document Name</th>
                        <th scope="col">Created</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.fileInfo)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.LastWriteTime</td>
                            <td>
                                <a class="btn btn-outline-success m-1"
                                href="@Url.Action("DownloadDocument","Home",new { file_name = @item.Name})">Download</a>



                                        <button data-path="/home/deletedoc?name=@item.Name"
                                            data-toggle="modal"
                                            type="button" class="deleteItem btn btn-danger m-1">
                                        <i class="fa fa-trash"></i>
                                    </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        <div class="modal fade" id="deleteModalDocument" tabindex="-1" role="dialog" aria-labelledby="documentDelete" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Are you sure you want to delete this Document? <br /><span class="text-danger">This cannot be undone.</span></div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        @using (Html.BeginForm("DeleteDoc", "Home", FormMethod.Post, new { id = "myform", @class = "" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Delete" id="submitButton" class="btn btn-danger" />
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="showmodal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="id_content">

                    </div>
                    <div class="modal-footer">

                        @Html.ActionLink("Close", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-secondary" })

                    </div>
                </div>
            </div>
        </div>




@section scripts{

<script type="text/javascript">
        var path_to_delete;
         var root = location.protocol + "//" + location.host;
                    $("#closebtn").click(function () {

            $('#showmodal').modal('hide');
        });

        $(".deleteItem").click(function (e) {

            if ($(this).hasClass("disabled")) {
                event.stopPropagation()
            } else {
                path_to_delete = $(this).data('path');
                $('#myform').attr('action', root + path_to_delete);
                $('#deleteModalDocument').modal("show");
            }

        });
    
                    function GetDocumentList()
            {
            var select = document.getElementById('programCode');
            var program = select.options[select.selectedIndex].value;
            window.location.href = '@Url.Action("GetDocumentList", "Home")?program=' + program;

            }
                    function DownloadJson()
            {
            var select = document.getElementById('programCode');
            var program = select.options[select.selectedIndex].value;
            window.location.href = '@Url.Action("DownloadJson", "Home")?program=' + program;

            }

</script>

}


