﻿@model PrintOutTemplate
<form>
    <div class="form-group row">
        <label for="staticName" class="col-sm-2 col-form-label font-weight-bold">Name: </label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext ml-4" id="staticName" value="@Model.Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticDesc" class="col-sm-2 col-form-label font-weight-bold">Description:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext ml-4" id="staticDesc" value="@Model.Description">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticProduct" class="col-sm-2 col-form-label font-weight-bold">Product:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext ml-4" id="staticProduct" value="@Model.Product">
        </div>
    </div>
    <div class="form-group row">
        <label for="staticProgram" class="col-sm-2 col-form-label font-weight-bold">Program:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext ml-4" id="staticProgram" value="@Model.Program">
        </div>
    </div>
</form>