﻿@model Report

<div class="modal-header">

    <h4 class="modal-title">Report @ViewBag.ReportName</h4>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs" id="tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active text-success" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
        </li>
        
       
    </ul>
    <div class="tab-content" id="ReportTabs">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
            <partial name="_info" for="@Model.GeneralInformation" />

        </div>       
      
    </div>
</div>



