﻿@using System
@using System.Net

<div class="modal-header">

    <h4 class="modal-title">Global Settings</h4>
</div>
<div class="modal-body">
    <div class="container">
        <form id="formUpload" asp-controller="Home" asp-action="UploadFile" method="post" enctype="multipart/form-data"
            onsubmit="return validateForm()">
            <label for="uploadFile" class="text-primary">Download or Upload setting file</label>
            <div class="form-row">

                <div class="col">

                    <input type="file" name="file" class="form-control-file" id="uploadFile" />
                </div>
                <div class="col">

                    <div class="btn-group">
                        <button type="submit" class="btn btn-outline-success m-1"><i class="fa fa-upload"></i></button>
                        <a asp-controller="Home" asp-action="download" class="btn btn-outline-success m-1"><i
                                class="fa fa-download"></i></a>
                    </div>

                </div>
            </div>
    
        </form>
    </div>

    <!--    <form id="formUploadPrint" asp-controller="Home" asp-action="UploadPrinterSetup" method="post"
          enctype="multipart/form-data" >
        <label for="uploadFile" class="text-primary">Download or Upload printer setup</label>
        <div class="form-row">
            <div class="col">
                <label for="ipAddress">Printer IP Address</label>
                <input type="text" name="ipAddress" ip-mask
 class="form-control" id="ipAddress" value="127.0.0.1" placeholder="000.000.000.000"  />
            </div>           
        </div>
        <div class="form-row">
            <div class="col">
                <input type="file" name="file" class="form-control-file" id="uploadFile" />
            </div>
            <div class="col align-content-start">
                <button type="submit" class="btn btn-outline-success m-1"><i class="fa fa-upload"></i></button>
            </div>
        </div>

    </form> -->
</div>

<div class="modal-header">

    <h4 class="modal-title">Import/Export Reports</h4>
</div>
<div class="modal-body">
  <div class="container"> 
     <form id="formActions" asp-controller="Home" asp-action="UploadReportsZip" method="post"
            enctype="multipart/form-data">
            <label for="uploadZip" class="text-primary">Import/Export reports from zip file</label>
            <div class="form-row">
                <div class="col">
                    <input type="file" name="file" class="form-control-file" id="uploadFile" />
                </div>

                <div class="col">
                    <div class="btn-group">
                        <button type="submit" id="uploadZip" class="btn btn-outline-success m-1"><i
                                class="fa fa-upload"></i></button>
                        <a asp-controller="Home" asp-action="DownloadReportsZip" class="btn btn-outline-success m-1"><i
                                class="fa fa-download"></i></a>
                    </div>

                </div>

            </div>

        </form>
    </div>
  
</div>
