﻿@{
    ViewData["Title"] = "Console";
}


@section scripts {
    <script type="text/javascript">
        var path_to_delete;
        var path_to_edit;
        var root = location.protocol + "//" + location.host;
        $(document).ready(function () {
            $('[ip-mask]').ipAddress();
        });

        $(".editItem").click(function (e) {

            $.ajax({
                url: $(this).data('path'),
                success: function (result) {

                    $("#id_content").append(result);
                }
            });

        });
        $("#settingForm").click(function (e) {

            $.ajax({
                url: $(this).data('path'),
                success: function (result) {

                    $("#id_content").append(result);
                }
            });

        });
        $("#closebtn").click(function () {

            $('#showmodal').modal('hide');
        });

        $(".deleteItem").click(function (e) {

            if ($(this).hasClass("disabled")) {
                event.stopPropagation()
            } else {
                path_to_delete = $(this).data('path');
                $('#myform').attr('action', root + path_to_delete);
                $('#deleteModal').modal("show");
            }

        });

        $(".clipboardButton").click(function (e) {
                   $.ajax({
                url: $(this).data('path'),
                success: function (result) {
                    alert(result)
                 //   $('.clipboarPopover').popover({
                 //       content: result,
                 //       trigger: 'click',
                 //       html: true,
                  //      animation: false
                 //   })
                }
            });
        });

        function validateForm() {
            var x = document.forms["formUpload"]["file"].value;
            if (x == "" || x == null) {
                alert("Name must be filled out");
                return false;
            }
        }
    </script>

}

@if (!User.Identity.IsAuthenticated)
{
    @* <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hello!</strong> Please  <a class="alert-link" asp-area="Identity" asp-controller="Account" asp-action="Login">SignIn</a> to have permission to maintain the reports
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> *@
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Hello!</strong> This is the Printout Backend

    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome PrintOut Services @ViewData["Host"] </h1>
        <div class="col-sm-12 p-3 " align="right">
            <div class="btn-group">
                @using (Html.BeginForm("Refresh", "Home", FormMethod.Post, new { id = "refreshForm", @class = "" }))
                {
                    <button type="submit" class="btn btn-success m-1">
                        <i class="fa fa-refresh"></i>
                    </button>
                }              
                <button id="settingForm" type="button"  class="btn btn-outline-success m-1" data-toggle="modal" data-target="#showmodal" data-path="/home/settings"><i class="fa fa-cogs"></i></button>
                <a href="https://zpldesigner.com/download/" class="btn btn-outline-success m-1" target="_blank" rel="noopener noreferrer"><i class="fa fa-download"></i> ZPL Designer</a>
            </div>
        </div>
        <div style="height:600px; overflow-y: scroll;">
        <table class="table table-sm">
            <thead class="thead-light">

                <tr>
                    <th scope="col" rowspan="2">Report Name</th>
                    <th scope="col" rowspan="2">Report Size</th>
                    <th scope="col" colspan="5">Template Metadata</th>
                    <th scope="col" rowspan="2">Actions</th>
                </tr>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Tenant</th>
                    <th scope="col">Product</th>
                    <th scope="col">Program</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PrintOutTemplate report in Model)
                {
                    <tr class="@(!report.IsHealth ? "table-danger" : "")">
                        <td> @report.ReportName</td>
                        <td> @String.Format("{0} kb", (report.PhysicalSize / 1024).ToString())</td>

                        <td>@report.Id</td>
                        <td>@report.Tenant</td>
                        <td>@report.Product</td>
                        <td>@report.Program</td>
                        <td>@report.Description</td>
                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {                                     
                                <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                                    <button data-path="/home/deletefile?name=@report.ReportName"
                                            data-toggle="modal"
                                            type="button" class="deleteItem btn btn-success
                                        @(report.IsHealth == false ? "active" : "disabled") m-1">
                                        <i class="fa fa-trash"></i>
                                    </button>

                                    <span class="d-inline-block" data-toggle="popover">
                                        <button type="button"  data-path="/home/clipboard?name=@report.ReportName"
                                                class="clipboardButton clipboarPopover btn btn-success  @(report.IsHealth ? "active" : "disabled") m-1">

                                                
                                            <i class="fa fa-copy"></i>
                                        </button>
                                    </span>
                                </div>
                            }
                            else
                            {
                                <p>Not Actions</p>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="reportDelete" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Are you sure you want to delete this Report? <br /><span class="text-danger">This cannot be undone.</span></div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        @using (Html.BeginForm("DeleteFile", "Home", FormMethod.Post, new { id = "myform", @class = "" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Delete" id="submitButton" class="btn btn-danger" />
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="showmodal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="id_content">

                    </div>
                    <div class="modal-footer">

                        @Html.ActionLink("Close", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-secondary" })

                    </div>
                </div>
            </div>
        </div>

    </div>

}




