﻿@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PrintOut Server</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/css-social-buttons/1.4.0/css/zocial.min.css" integrity="sha512-D+88+j7wBsrfUyRLxvAi/ZYJ+2xffS/A9skvhx8Q8cxXv5rVrNX5BYm+GblI1POb23bjAygg2nXytDHtoGc9lQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom border-bottom box-shadow mb-3">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <img src="/images/logo.svg" height="48" alt="CoolBrand">
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse">
                    <div class="navbar-nav">
                        <a href="#" class="nav-item nav-link active">Console</a>
                        @* <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="PrinterManagement" target="_blank">Printer Management</a> *@
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="PrinterManagement" target="_blank">Printer Management</a>
                            <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="FileManagement" target="_blank">File Management</a>
                            <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Swagger" target="_blank">API Docs</a>
                            <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Help" target="_blank">Help</a> 
                        }
                        @* <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Help" target="_blank">Help</a> *@
                    </div>
                    @* <partial name="_PartialLogin" /> *@
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>


        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - cs_printoutserver
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/mask.ip-input.js" asp-append-version="true"></script>
        @await Component.InvokeAsync("Notyf")
        @RenderSection("Scripts", required: false)
</body>
</html>
