﻿@using Microsoft.AspNetCore.Identity


<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-item nav-link dropdown-toggle" href="#"
               id="navbarDropdown" role="button" 
               data-toggle="dropdown" 
               aria-haspopup="true" 
               aria-expanded="false">@User.Identity.Name.ToLower()</a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <form class="form-inline" asp-area="Identity" asp-controller="Account" asp-action="Logout" asp-antiforgery="false"
                      method="post">

                    <button type="submit" class="dropdown-item btn btn-info btn-sm">Logout</button>
                </form>
            </div>
        </li>
        
    }
    else
    {
      
        <li class="nav-item">
            <a class="nav-item nav-link" asp-area="Identity"  asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>