﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="cs_printoutserver.html" name="" title="cs_printoutserver">cs_printoutserver</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="cs_printoutserver.Program.html" name="" title="Program">Program</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Startup.html" name="" title="Startup">Startup</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="cs_printoutserver.Binders.html" name="" title="cs_printoutserver.Binders">cs_printoutserver.Binders</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="cs_printoutserver.Binders.CoreSystemBinder.html" name="" title="CoreSystemBinder">CoreSystemBinder</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Binders.CoreSystemBinderProvider.html" name="" title="CoreSystemBinderProvider">CoreSystemBinderProvider</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="cs_printoutserver.Code.html" name="" title="cs_printoutserver.Code">cs_printoutserver.Code</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="cs_printoutserver.Code.CustomOpenIdConnectProtocolValidator.html" name="" title="CustomOpenIdConnectProtocolValidator">CustomOpenIdConnectProtocolValidator</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Code.NetworkDiscoveryHandler.html" name="" title="NetworkDiscoveryHandler">NetworkDiscoveryHandler</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Code.OperationExtension.html" name="" title="OperationExtension">OperationExtension</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Code.SessionExtensions.html" name="" title="SessionExtensions">SessionExtensions</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Code.ZebraUtilities.html" name="" title="ZebraUtilities">ZebraUtilities</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="cs_printoutserver.Controllers.html" name="" title="cs_printoutserver.Controllers">cs_printoutserver.Controllers</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="cs_printoutserver.Controllers.AccountController.html" name="" title="AccountController">AccountController</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Controllers.BaseController-1.html" name="" title="BaseController&lt;T&gt;">BaseController&lt;T&gt;</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Controllers.HomeController.html" name="" title="HomeController">HomeController</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Controllers.ReportController.html" name="" title="ReportController">ReportController</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Controllers.ReportDesignerController.html" name="" title="ReportDesignerController">ReportDesignerController</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Controllers.TemplateController.html" name="" title="TemplateController">TemplateController</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="cs_printoutserver.Models.html" name="" title="cs_printoutserver.Models">cs_printoutserver.Models</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="cs_printoutserver.Models.brapi.html" name="" title="brapi">brapi</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.CoreSystemContext.html" name="" title="CoreSystemContext">CoreSystemContext</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Crop.html" name="" title="Crop">Crop</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.CropProgram.html" name="" title="CropProgram">CropProgram</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Data.html" name="" title="Data">Data</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Datafiles.html" name="" title="Datafiles">Datafiles</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.DataSourceConnection.html" name="" title="DataSourceConnection">DataSourceConnection</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Domain.html" name="" title="Domain">Domain</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.ErrorViewModel.html" name="" title="ErrorViewModel">ErrorViewModel</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.MaterialStatus.html" name="" title="MaterialStatus">MaterialStatus</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Metadata.html" name="" title="Metadata">Metadata</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Pagination.html" name="" title="Pagination">Pagination</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.PathParameterConnection.html" name="" title="PathParameterConnection">PathParameterConnection</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Person.html" name="" title="Person">Person</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.PrintOutTemplate.html" name="" title="PrintOutTemplate">PrintOutTemplate</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Product.html" name="" title="Product">Product</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Profile.html" name="" title="Profile">Profile</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Program.html" name="" title="Program">Program</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.QueryParameterConnection.html" name="" title="QueryParameterConnection">QueryParameterConnection</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Report.html" name="" title="Report">Report</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.ReportModel.html" name="" title="ReportModel">ReportModel</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.ReportPrinter.html" name="" title="ReportPrinter">ReportPrinter</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Role.html" name="" title="Role">Role</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Status.html" name="" title="Status">Status</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Models.Tenant.html" name="" title="Tenant">Tenant</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="cs_printoutserver.Services.html" name="" title="cs_printoutserver.Services">cs_printoutserver.Services</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="cs_printoutserver.Services.CachedReportSourceWebResolver.html" name="" title="CachedReportSourceWebResolver">CachedReportSourceWebResolver</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Services.CustomJsonConnection.html" name="" title="CustomJsonConnection">CustomJsonConnection</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Services.CustomJsonDataConnectionProviderFactory.html" name="" title="CustomJsonDataConnectionProviderFactory">CustomJsonDataConnectionProviderFactory</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Services.ICSReportSource.html" name="" title="ICSReportSource">ICSReportSource</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Services.LoggerService.html" name="" title="LoggerService">LoggerService</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Services.PreviewReportCustomService.html" name="" title="PreviewReportCustomService">PreviewReportCustomService</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Services.PrintOutTemplateService.html" name="" title="PrintOutTemplateService">PrintOutTemplateService</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Services.ReportStorage.html" name="" title="ReportStorage">ReportStorage</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Services.WebDocumentViewerJsonDataConnectionProvider.html" name="" title="WebDocumentViewerJsonDataConnectionProvider">WebDocumentViewerJsonDataConnectionProvider</a>
                          </li>
                          <li>
                              <a href="cs_printoutserver.Services.WebDocumentViewerLogger.html" name="" title="WebDocumentViewerLogger">WebDocumentViewerLogger</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>