@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model cs_printoutserver.Models.FileModel

<div class="text-center">
    <h1 class="display-4">PrintOut File Management </h1>
    <button id="btn1" class="btn btn-outline-success m-1" onclick="GetDocumentList()">Document List</button>
    <button id="btn2" class="btn btn-outline-success m-1" onclick="downloadJson()"><i class="fa fa-download"></i>
    </button>


</div>
<br>



    <form asp-controller="FileManager" asp-action="UploadDocument" enctype="multipart/form-data" method="post">
        <label for="program">Select a program:</label>
        <select name="program" id="programCode" class="form-control">
            @foreach (var program in Model.programList)
            {
                <option value="@program">@program</option>

            }
        </select>
        <label for="file">Select document:</label>
        <input type="file" name="file" class="form-control">



        <input class="btn btn-outline-success m-1" type="submit" value="Upload Document" class="form-control"></input>


    </form>


            <table id="documentTable" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Document Name</th>
                        <th scope="col">Created</th>
                        <th scope="col">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.fileInfo)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.LastWriteTime</td>
                            <td>
                                <a class="btn btn-outline-success m-1"
                                href="@Url.Action("downloadDocument","FileManager",new { file_name = @item.Name})">Download</a>
                                <a class="btn btn-outline-danger m-1"
                                href="@Url.Action("deleteDocument","FileManager",new { docu_name = @item.Name})">Delete</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

@section scripts{

<script type="text/javascript">
    
                    function GetDocumentList()
            {
            var select = document.getElementById('programCode');
            var program = select.options[select.selectedIndex].value;
            console.log(program);
            window.location.href = '@Url.Action("GetDocumentList", "FileManager")?program=' + program;

            }
                    function downloadJson()
            {
            var select = document.getElementById('programCode');
            var program = select.options[select.selectedIndex].value;
            console.log(program);
            window.location.href = '@Url.Action("DownloadJson", "FileManager")?program=' + program;

            }
               
</script>

}


